[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
hyperopt = "*"
pandas = "*"
matplotlib = "*"
dpcpp-cpp-rt = "*"
scikit-learn-intelex = "*"

[dev-packages]

[requires]
python_version = "3.8"
